In [1]:
from faker import Faker
import pandas as pd

# Create Faker instance
fake = Faker()

# Sample employee data
sample_data = {
    'Name': fake.name(),
    'Title': fake.job(),
    'Department': fake.random_element(elements=('HR', 'IT', 'Finance', 'Marketing')),
    'Salary': fake.random_int(min=40000, max=100000),
    'Email': fake.email(),
    'Phone': fake.phone_number(),
    'Address': fake.address(),
}

# Number of records to generate
num_records = 1000

# Generate employee records
employee_records = []
for _ in range(num_records):
    record = {
        'Name': fake.name(),
        'Title': fake.job(),
        'Department': fake.random_element(elements=('HR', 'IT', 'Finance', 'Marketing')),
        'Salary': fake.random_int(min=40000, max=100000),
        'Email': fake.email(),
        'Phone': fake.phone_number(),
        'Address': fake.address(),
    }
    employee_records.append(record)

# Create a DataFrame from the generated records
df = pd.DataFrame(employee_records)

# Save the DataFrame to a CSV file
df.to_csv('employee_data.csv', index=False)

In [3]:
df.head(20)

,Name,Title,Department,Salary,Email,Phone,Address
0,Heather Terry,"Surveyor, mining",Finance,82672,qsparks@example.net,+1-516-946-9945x2938,"3348 Harris Point Apt. 587\nStacieshire, ME 39604"
1,Denise Cortez,Multimedia programmer,IT,93124,valerieallen@example.org,+1-340-809-0603x0564,"7390 Schwartz Rest\nPort Ericland, GA 25206"
2,James Hernandez,"Surveyor, mining",HR,51007,dana90@example.org,783.324.6007,"63667 Rogers Flats Apt. 430\nEast Richardside,..."
3,Robert Salazar,Curator,HR,47783,jefferyward@example.net,(327)510-0710,"350 Stewart Bridge Suite 391\nSouth Seanfurt, ..."
4,Benjamin Frank,Community pharmacist,Finance,64050,ginawebb@example.net,8212507276,"81731 Samantha Isle Apt. 854\nEast Chrishaven,..."
5,Patrick Peterson,"Designer, jewellery",IT,80465,wsilva@example.com,347-783-2152x93840,"87493 Norman Forks Suite 567\nLake Amy, NJ 46245"
6,Stephen White,"Scientist, research (medical)",IT,62560,schneiderjoseph@example.com,(621)865-7592x1056,"55331 Thomas Oval\nAbigailland, WV 72776"
7,Angelica Villa,"Engineer, communications",Marketing,45899,williamryan@example.com,001-765-877-2012x8751,"58298 King Wells\nConnerfurt, DE 87472"
8,Jordan Richard,TEFL teacher,Finance,42148,fpark@example.com,974-368-8227x14554,"47997 Nelson Loop Apt. 223\nVaughnville, NY 57567"
9,Jeremy Guerrero,Homeopath,HR,54809,sandra44@example.com,(975)742-9395x446,"89447 Shawn Plaza\nChristianbury, GA 67686"
10,Dawn Phillips,Garment/textile technologist,Finance,82429,donna75@example.org,917.452.5137x914,"4369 Hayden Pike\nFloresfort, MT 82614"
11,Shawn Stevens,Advertising account planner,Marketing,70788,steven81@example.com,223-888-1595,"97981 Stewart Groves Apt. 819\nChenfort, RI 53122"
12,Haley Garrison,Probation officer,IT,55608,ohernandez@example.net,+1-263-970-2120x865,"523 Richard Crossing\nNew Codymouth, AZ 38492"
13,Brandi Ramirez,Senior tax professional/tax inspector,HR,88593,markdavidson@example.com,950.562.7915,"57593 Andrew Crossing\nPort Seanhaven, CO 83573"
14,Mr. Christian Faulkner,Training and development officer,Finance,51232,rthompson@example.org,(856)380-7770,"70878 Kayla Village Apt. 977\nKaraland, WA 11986"
15,Kimberly Lopez,"Engineer, structural",Finance,62039,laurakhan@example.com,586-751-0501x4171,"89490 Kenneth Spurs Suite 838\nLawrencefurt, S..."
16,Douglas Fox,Retail manager,Finance,90790,theresahunter@example.net,223-463-0015x44737,"08348 Brown Forks\nLyonsstad, HI 85424"
17,Richard Lopez,Corporate investment banker,Marketing,45536,martinclayton@example.com,589.785.8556x8910,188 Francisco Turnpike Suite 901\nNorth Jeffre...
18,Katrina Kelley,Garment/textile technologist,HR,93356,colejasmine@example.org,317-310-8850,"5721 Davidson Points\nMaryview, IL 12108"
19,Meagan Chavez,Physiotherapist,Finance,94974,melissa16@example.org,+1-967-393-3917x59200,"862 Kathy Summit\nSheamouth, VA 98093"